.parent {
 font-family: "Roboto Slab", serif;
 width: 600px;
 height: 300px;
 margin: 88px auto;
 background-color: #eee;
 color: #fff;
 font-weight: bold;
 padding: 20px;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 align-content: space-between;
}
.parent div {
 width: calc(85% / 3);
 padding: 10px;
 text-align: center;
 background-color: #ff313d;
}
