.element {
 margin: 20px;
 padding: 20px 25px;
 display: inline-block;
 outline: 5px solid #000;
 background-color: #d4d4d4;
}
.element-1 {
 border: 5px solid #ff001b;
}
.element-2 {
 border-width: 5px;
 border-style: solid;
 border-color: #516fe4 #008219;
}
.element-3 {
 border-width: 5px;
 border-style: dashed;
 border-color: #ff001b #008219 #2800f9 #fdff43;
}
