.grid {
 font-family: "Roboto Slab", serif;
 background-color: #ddd;
 padding: 20px;
 width: 800px;
 height: 400px;
 margin: 88px auto;
 display: grid;
 grid-template-columns: auto repeat(2, 1fr) auto;
 grid-template-rows: 1fr auto;
 gap: 20px;
}
.grid div {
 color: #fff;
 font-size: 24px;
 font-weight: bold;
 background-color: #403f3f;
 display: flex;
 align-items: center;
 justify-content: center;
}
