.parent {
 font-family: "Roboto Slab", serif;
 width: 600px;
 height: 300px;
 padding: 20px;
 margin: 88px auto;
 background-color: #eee;
 display: flex;
 justify-content: space-between;
}
.parent div {
 display: flex;
 justify-content: center;
 align-items: center;
 font-weight: bold;
 color: #fff;
 height: 50%;
 width: calc(77% / 4);
}
.one {
 order: 2;
 background-color: #ff942c;
}
.two {
 order: 3;
 background-color: #7dc556;
 align-self: flex-end;
}
.three {
 order: 4;
 background-color: #7d5449;
}
.four {
 background-color: #6f37b3;
 align-self: flex-end;
 order: 1;
}
