div {
 font-family: "Roboto Slab", serif;
 width: 100px;
 height: 100px;
 margin: 50px auto;
 border-radius: 50%;
 color: #ff4a31;
 background-color: #eee;
 box-shadow: 4px 0px 0px 0px #ff4a31, -4px 0px 0 0px #00abf0;
 display: flex;
 justify-content: center;
 align-items: center;
}
